.update-nag, #ewww-image-optimizer-warning-php, 
#wp-admin-bar-updates, #wp-admin-bar-wp-logo, 
#wp-pagenavi-update {
    display:none !important;
}
#adminmenu li.wp-menu-separator {
    background: rgb(15, 15, 15);
    border-color: transparent;
}
#edittag{
    max-width:90%;
}
#stellar_dashboard_widget .stellarDashboardWrap img {
    width: 100%;
    height: auto;
}
#stellar_dashboard_widget .supportWrap {
    background: #f5f5f5;
    padding: 10px 15px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}
#stellar_dashboard_widget img{
    max-width:100%;
    height:auto;    
}
td.acf-fields > div:first-child input {
    font-weight:bold;
    font-size: 20px !important;
    height: 48px;
}

.acf-row:nth-child(even) .acf-row-handle.order {
    background: #dedede !important;
}

.acf-row:nth-child(odd) .acf-row-handle.order {
    background: #bebebe !important;
}
