//You can create variables here for use in other css files

$basicFont: 'Open Sans', Arial, Helvetica, sans-serif;

//Font colors
$generalFont-color: #6f6f6f;
$heading-color: #444;
$post-meta-color: #999;

//Link & Button colors
$link-color: #D76667;
$link-hover-color: #F2295b;

$default-button-bg: #F2295b;
$default-button-bg-hover: #D76667;
$default-button-color: #eee;
$default-button-color-hover: #fff;

//General purpose
$color-white: #efefef;
$color-black: #111;

//Responsive breakpoints
$mobile: "only screen and (max-width: 600px)";
$tablet: "only screen and (max-width: 800px)";
$laptop: "only screen and (max-width: 1020px)";
$desktop: "only screen and (max-width: 1210px)";

//Mixins (Work like functions)
	@mixin clearfix {
		&:before,
		&:after {
		    content: "";
		    display: table;
		}

		&:after {
		    clear: both;
		}

		/* For IE 6/7 (trigger hasLayout) */
		*zoom: 1;
	}

	@mixin border-box {
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	@mixin transition($property) {
		-webkit-transition: $property .35s;
	    -moz-transition: $property .35s;
	    transition: $property .35s;
	}

	@mixin border-radius($size) {
		-moz-border-radius: $size;
		-khtml-border-radius: $size;
		-webkit-border-radius: $size;
		border-radius: $size;
	}
	//Example 
	//@include border-radius(15px);

	@mixin column($size) {
		grid-column: span $size;
		margin-bottom: 20px;
		@media #{$tablet} {
			grid-column: span 12;
		}
	}

/******************************************** HELPER CLASSES ************/
.ir {
	display:block;
	text-indent:-999em;
	overflow:hidden;
	background-repeat: no-repeat;
} /* for image replacement */

.hidden {
	display:none;
	visibility:hidden;
}  /* Hide for both screenreaders and browsers */

.visuallyhidden {
	position:absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
} /* Hide only visually - available for screenreaders */

.invisible {
	visibility: hidden;
} /* Hide visually and from screenreaders, but maintain layout */

.clear {
	clear: both;
	display: block;
}

.cf {
    @include clearfix; //Defined in variables.scss
}

small, .small, .meta, .postMeta {
	font-size: 11px;
	line-height:13px;
	//margin-bottom:4px;
}
.postMeta {
	color: $post-meta-color;
}

.leftFloat {
	float: left;
}
.rightFloat {
	float: right;
}

/********************************************************** FONTS ************/
html {
	text-align: center;
}
html div{
	box-sizing:border-box;
}

body {
	text-align: left;
	max-width: 100%;
    overflow: auto;
}
.rgba {
	h1, #logo, h2, h3, h4, h5, h6 {
		//text-shadow: 0 1px 0 rgba(255,255,255,0.95);
	}
}
h1, .h1 {
	margin: 0 0 25px 0;
}
h2, .h2 {
	margin: 0 0 25px 0;
} 
h3, .h3 {
	margin: 0 0 25px 0;
}
h4, .h4 {
	margin: 0 0 20px 0;
} 
h5, .h5 {
	margin: 0 0 20px 0;
} 
h6, .h6 {
	margin: 0 0 20px 0;
} 
header {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 3px;
	}
}

article {
	header {
		margin-bottom: 20px;
	}
}
/* elementor fixes */
.elementor-slideshow__footer, .elementor-slideshow__header{
    box-sizing: border-box;
}

/* Main Content */
#main-content {
	blockquote {
		font-style: italic;
		font-family: cambria, georgia, times, serif;
	}
}
.paging {
	text-align:center;
	.prev, .next {
		a {
			/* Dark Themes color: #fff; */
		}
	}
	.prev {
		a {			
			margin:0 auto;
			display: inline-block;
		    padding: 7px 27px;
			border:1px solid #555;
			border-radius:3px;
			text-align:center;
		}
	}
	.next {
		float:left;
		a {
			
		}
	}
}

/********************************************************* LAYOUT ************/
html {
	height: 100%;
	
	/* 
		Use this if the site has width 100% to prevent the background becoming smaller than the main container. 
		Change 980px to the width of your main container 
	
		min-width: 1160px; 
	*/ 
}

body {
	/*height:100%;*/
	position: relative;
	background: #fff;
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;    
	position: relative;
}
// Alignment & Positioning
.flexIt {
  display: flex;  
  flex-flow: row;	  
  text-align: center;
	> * {
		flex: 1 0;
		text-align:center;
	}
	.flexItem{

	}
}
.centerStuff {
	text-align: center;
	margin: 0 auto 20px;
}
.center {
	text-align: center;
}
.centerText {
	text-align: center;
	a {
		display: inline;
	}
}
.textalignleft {
	text-align: left;
}
.textalignright {
	text-align: right;
}	
.gridRow {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
}

p, dl, blockquote, hr, pre, table, fieldset, article, article footer, nav, ul, ol {
	//margin: 0 0 20px 0;
}
article, .elementor-text-editor, .elementor-widget-text-editor {
	ul, ol {
		position:relative;
		margin-left:45px;
		padding-right: 25px; /*necessary to ensure content fits in page*/
		margin-bottom:25px;
		li {
			margin-bottom:5px;
		}
	}
}
.lineBreak{
	padding-top:15px;
	margin-bottom:15px;
	border-bottom:1px solid #ddd;
}
.breadCrumb {
	margin:8px 0 8px;
    position: relative;
    left: -5px; // Fixes left side margin from <a> tag below
	font: 12px Arial, sans-serif;	

	p {
		font-size:11px;
		padding-top:10px;
		margin-bottom:0;

		a::after{
			//content: "\0000a0\0000a0\0000a0\00bb";
		}
		a:last-child::after{
			/*content: "";*/
		}
		a:first-child, a:last-child{
			// display:none;
		}	
		a {
			margin: 0 5px 0 5px;
		    text-decoration: none;
		    display: inline-block;
		}
		a:hover {
			text-decoration:underline;
		}
		.breadcrumb_last {
			display:none;
		}
	}
}
.childrenBlock{
	text-align: center;
}
a.pictureBox{
	border-radius: 5px;
	width:40%;
	display:inline-block;
	height:200px;
    list-style: none;
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    &:hover {
        .newsOverlay {
            background: rgba(41, 41, 58, 0.98);
            
        }
        span {            
            
        }
    }
    .newOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //background: rgba(0, 0, 0, 0.6);
        background:#4c556bbd;
        @include transition(background);
        
        
    }
    .newsText {
        position: absolute;
        bottom: 0;
        padding: 13px 18px;
        color: #fff;
        width: 100%;
    	box-sizing: border-box;
        p {
            
            font-size: 16px;
            margin-bottom: 12px;
            
        }
        h3 {
            
            font-size: 24px;
            color: #fff;
            
        }
        span {
            float: right;
            @include transition(color);
            
        }
    }
    
    img {
        width: 100%;
        height: auto;
        
    }
}
/***************** PARALLAX SCROLLING *****************/
.parallax-container {
    height: 500px;
    width: 100%;
    background: transparent;
    position: relative;
}
.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    h1 {
        color: #fff;
    }
}
.normal-block-example {
    padding: 50px 0;
}
.animationOnScroll {
    h1 {
        text-align: center;
    }
}
/******** Animation On Scroll Example/Helper styles ****************/

.item {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	padding-top: 75px;
	background: #ccc;
	text-align: center;
	color: #FFF;
	font-size: 3em;
}

/********** IMAGES ************/
.wp-post-image, img.alignright, img.alignleft, img.aligncenter {
	//background: $color-white;
	//border: 1px solid #eee;
	max-width: 100%;
	height:auto;
}
article iframe{
	max-width:100%;
	// height:auto;
}

.alignleft {
	float: left;
	clear: left;
	margin: 0 20px 20px 0;
}

.alignright {
	float: right;
	clear: right;
	margin: 0 0 20px 20px;
}

.aligncenter {
	margin: 15px auto;
	display: block;
}
.gallery {
	.gallery-item{
		padding: 5px;
		box-sizing:border-box;
		margin-top:0;
		img{
			max-width: 100%;
			border:none !important;
			height: auto;
			border-radius: 3px;
		}		
	}
}

div.wp-caption {
	text-align: center;
	background: none;
	border: 1px solid #eee;
	max-width:100%;
	box-sizing:border-box;
	// outline: 4px solid #0d1015;
	padding: 0px !important;
	text-align: center !important;
	// -moz-border-radius: 3px;
	// -khtml-border-radius: 3px;
	// -webkit-border-radius: 3px;
	// border-radius: 3px;
	margin-bottom:20px;
	p.wp-caption-text {
		margin-bottom: 3px !important;
	    padding: 0 6px 4px !important;
	    clear: both;
	    font-size: 13px;
	    line-height: 16px;
	}
	img {
		margin: 0;
	    box-sizing: border-box;
	    padding: 5px 5px 0;
		outline: 0;
		border: 0;
	}
}

/*************************************************************** LINKS & BUTTONS **********/
a {
	color: $link-color;
	text-decoration: none;
	// font-weight: bold;
	
	&:hover, 
	&:focus {
		color: $link-hover-color;
		// text-decoration: none;
	}
}


/* Stellar Social Icons */

//Link & Button colors
$facebook: #3b5998 ;
$twitter: #00acee ;
$instagram: #ac308e;
$linkedin: #2867b2;
$youtube: #c4302b ;
$rss: #ee802f ;
.socialDiv {
	position: absolute;
	top: 11px;
	right: 11px;	
	.socialList {
		list-style: none;		
		li {
			display: inline-block;
			margin-right: 5px;
    		float: left;
			a { 
				display: block;				
				height: 36px;
    			width: 36px;
    			text-align:center;
    			border-radius:3px;    			
    			i{
    				font-size:22px;
    				color:#222;
    				margin:7px auto 0;
    			}
    			&:hover{
    				background: $link-hover-color;
    				i{
    					//color:#111;
    					color:#FFF;
    				}
    			}
			}
		}	
		.fbLink {						
			&:hover, &:active {
				background: $facebook;
			}
		}
		.instLink {				
			&:hover, &:active {
				background: $instagram;
			}
		}
		.twLink {				
			&:hover, &:active {
				background: $twitter;
			}
		}
		.ytLink {
			&:hover, &:active {
				background: $youtube;
			}
		}
		.liLink {
			&:hover, &:active {
				background: $linkedin;
			}
		}		
		.rssLink{
			&:hover, &:active {
				background: $rss;
			}
		}
	}
}

/**************************************************************** Header */
#header {
	padding: 0 5px;
	margin-bottom: 20px;

	.contact {
		float:right;
		margin:0 20px 0;
	}
}
.home{
    #header {
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // height:auto;
    }
}
#logo {
	float:left;
	font-size:24px;
	margin:20px;
	a {
		display:block;
		padding:8px; 
		// min-height:115px;
		position:relative;
		img {
			max-width:375px;
			height:auto;
		}
	}
}


/********************************************* Main Content */
#main {
	clear: both;
	margin-bottom: 20px;
	
	#main-content {
		@include column(8);
		margin-bottom:40px;

		&.fullWidth {
			@include column(12);
			width: 100%;
			max-width: 790px;
    		margin: 0 auto 40px;
		}
		iframe {
			@include column(12);
		}
		blockquote {
			margin: 0 2.5em 1.25em 2.5em;
			border: 1px solid #eee;
			background: #f6f6f6;
			padding: 1.19em 1.25em 0;
		}
	}
}

//Blog Posts
.blog {
	.post {
		margin: 0 0 25px;
		padding: 0 0 25px;
		border-bottom: 1px solid #eee;

		&:last-child{
			border-bottom: none;
		}

		h2 {
			margin: 0 0 7px; 
		}

		.postMeta {
			margin: 0 0 12px;
		}
	}
}

/* Sidebar */
#sidebar {
	@include column(4);

	#subpages {
		width: 210px;
	}
}

/****************************************************** WIDGETS ************/
.widget {
	margin: 0 0 30px 0;

	&:last-child{
		margin-bottom:0;
	}

	&.widget_search {
		overflow: hidden;
		zoom: 1;
		
		input#s {
			float: left;
			width: 50%;
		}

		#searchsubmit {
			font-size: 0.875em;
			padding: 0 1em;
			border: 0;
			margin: 1px 0 0 0;
			line-height: 2.29em;
		}

		label {
			display: none;
		}
	}

	&.widget_categories ul, 
	&.widget_archive ul, 
	&.widget_links ul, 
	&.widget_recent_entries ul, 
	&.widget_recent_comments ul, 
	&.widget_meta ul, 
	&.widget_pages ul, 
	&.widget_rss ul, 
	&.widget_pages ul, 
	&.widget_nav_menu ul, 
	&.widget_categories ul {
		padding: 0;
		list-style-type: none;
		
		li {
			display: block;

			a {
				text-decoration: none;
				
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	&.widget_tag_cloud {
		div {
			padding: 0;
			overflow: hidden;
		}

		a {
			line-height: 1.62em;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

/* Members Menu and User Login Form */
body:not(.logged-in) article.post-8167{
	margin: 25px auto 70px;
    max-width: 380px;
    background: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -3px #b1b1b1;
    padding: 25px 50px;
}
#wpuf-login-form{
	a{
		display: inline-block;
    	margin: 0 7px 0;    
	}
}

.loginLink {
	float: right;
    top: 23px;
    position: relative;
    right: 178px;
    a{
    	color:#444;
    	&:hover{
    		text-decoration:underline;
    	}
    }
}
.cartLink {
	float: right;
	top: 56px;
	right: 17px;
	position: absolute;
	font-size: 15px;
    line-height: 10px;    
    
	//color: #ff0000;	
	
	a {
		display: block;
	    background: #fff;
	    border-radius: 5px;
	    padding: 12px 16px 11px 38px;
	    border: 1px solid #ccc;
	    background: #fff url(images/cart-wrench.png) no-repeat 7px 3px;
	    background-size: 26px;
		img {
			position: relative;
		    top: -8px;
		    width: 26px;
		    float: left;
		    left: -5px;
		}
	}
	a:hover {
		border:1px solid #FF0000;
	}
	a:hover img {
		//left:2px;
	}
}
/********************************************* Theme Details */
.articleInfo {
    margin-left: 188px;
}
/********************************************* Footer */
#footer {
	overflow: hidden;
	zoom: 1;
	clear: both;
	padding: 15px 15px;
	background: #333;
	color:#FFF;
	font-size:12px;
	line-height: 12px;
	.chillDivider{
		color:#777;
	}
	.footLeft { }

	.footRight { }

	.codingLogos {
		width: 120px;
		clear: none;
		margin: 0 auto;
		text-align: center;

		img:first-child{
			margin-right: 20px;
		}
	}

	/* Nav */
	.menu {
		padding: 0;
		margin: 0 0 10px 0;
		list-style: none;

		li {
			float:left;
			margin: 0 10px 0 0;

			a {
				padding:0;
				margin:0;
			}
		}
	}

	// Copyright & SiteBy
	.siteBy {
		ul {
			margin: 0;
			padding: 0;
			display: table;
			float: right;
			
			li {
				list-style: none;
				height: 30px;
				padding: 6px 3px 0;
				display:table-cell;
				vertical-align:middle;
				float: left;
				margin: 0;
				margin-right:-1px;
				min-width: 35px;
				text-align: center;
			}
		}

		a.stellar {
			margin-top: 5px;
			display: inline-block;
			
			&:hover {
				text-decoration: none;
			}	
		}
	}

	#wpstats {
		display:none;
		visibility:hidden;
	}
}
